.anim {

}

.anim-point-1s {
    transition: 0.5s
}
.anim-point-5s {
    transition: 0.5s;
}
.anim-1s {
    transition: 1s;
}
.anim-2s {
    transition: 2s;
}


/* Scale on Hover */
.anim-scale-delta:hover {
    transform: scale(1.05);
}

.anim-scale-1-point-5x:hover {
    transform: scale(1.5);
}
.anim-scale-2x:hover {
    transform: scale(2);
}

.anim-scale-2x:hover {
    transform: scale(2);
}