.featured-article{
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.featured-article-info{
    flex: 0 1 600px;
}

.featured-article-card{
    cursor: pointer;
    align-self: center;
    box-shadow: 0px 1px 10px grey;
    background-color: blueviolet;
}

.featured-article-card-actions{
    text-align: center;
    font-weight: 800;
}


#blog-featured-excerpt a {
    color:black
}

@media only screen and (max-width: 565px) {
    .featured-article-info{
        flex: 0 0 300px;
    }
}