.featured-article{
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.featured-article-info{
    flex: 0 1 600px;
}

.featured-article-card{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    align-self: center;
    box-shadow: 0px 1px 15px grey;
}

.featured-article-card-actions{
    text-align: center;
    font-weight: 800;
}


#blog-featured-excerpt a {
    color:rgba(3, 36, 49, 1);
}

#blog-featured-image {
    opacity: 100%;
    transition: 0.3s;
    width: 100%;
    object-fit: cover;
}



@media only screen and (max-width: 565px) {
    .featured-article-info{
        flex: 0 0 300px;
    }

    .featured-article-info h2 {
        font-size: large;
    }

    #blog-featured-header{
        font-size: x-large;
    }
}