.page-header{
    min-height: auto!important;
}

.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    
}

.page-body,
.page-body h1 {
    font-family: 'Josefin Sans', sans-serif;
}

/* Breadcrumbs */
.page-breadcrumbs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height: 60px;
}

/* Two Column Header Section */
.page-body section {
    flex:0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    width: 100%;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    
}

.page-body section h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}




.page-header-section .column:nth-child(1){
    flex: 0 0 400px;
    min-width: none;
    margin-left: 25%;
    margin-right: 2rem;
   
}

.page-header-section .column:nth-child(2){
    position: relative;
    flex: 1 0 400px;
    height: 400px;
    margin-right: 0;
    background-attachment: fixed;
    background-size: contain;
    background-position: 100%;
    box-shadow: 5px 0 10px gray;

}

.page-header-image-attrib {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: small;
    color: white;
}

/* Background Images */

#products{
    background-image: url(../images/products-elephant.jpg);
}

#about{
    background-image: url(../images/about-head.jpg);
}

@media only screen and (max-width: 863px) {
    .page-body section {
       flex-wrap: wrap-reverse;
    }
    .page-header-section .column:nth-child(1) {
        flex:1;
        max-width: 100%;
        margin: 0;
        padding: 1rem;

        
    }
    .page-header-section .column:nth-child(2) {
        background-size: cover;
        height: 200px;
        min-width: 100%;
        box-shadow: none;
    }
}

@media only screen and (max-width: 425px) {
    .page-header-section{
        height: 200px;
        flex-wrap: wrap!important;
    }
    .page-header-section .column:nth-child(2) {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: top;
        height: 200px;
        border: 1px solid red;
        top:0;
        z-index: 1;
    }
    .page-header-section .column:nth-child(1){
        z-index: 2;
        height: 200px;
        padding: 3rem;
        padding-bottom: 0;
    }
    .page-header-image-attrib{
        top:10px;
    }
    #products{
        background-image: url(../images/products-elephant.jpg);
    }

    #about{
        background-image: url(../images/about-head.jpg);
    }
}

@media only screen and (max-width: 300px) {
    .page-header-section .column:nth-child(2) {
       
    }
}

