.parellax-background {
  background-image: url("../images/sky-cropped.png");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.parellax-overlay { 
    width: 100%;
    min-height: 100vh;
    transform: translateY(-19%);
    background-image: url('../images/overlay-padded.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;

}

@media only screen and (max-width: 1183px) {
    .parellax-overlay {
        background-position-x: 30%;
        background-size: cover;
    }
  }