.parellax-background {
  background-image: url("../images/sky-cropped.png");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.parellax-overlay { 
    width: 100%;
    min-height: 90vh;
    transform: translateY(-10%);
    background-image: url('../images/overlay-padded.png');
    background-size: cover;
    background-repeat: no-repeat;

}

@media only screen and (max-width: 1183px) {
    .parellax-overlay {
        background-size: cover;
    }
  }