  .sky-box{
    position: absolute;
    height: 100vh;
    width:100%;    
    overflow:hidden;
    z-index: 90;
  } 
  .sky{
    position:relative;
    width:100%;
    height:100%;
  }
  
  .star{
    position: absolute;
    height:2px;
    border-radius: 999px;
    filter: drop-shadow(0 2px 6px rgba(105, 155, 255, 1)) ;
    border-radius:100%;
    animation: 2s tail ease-in-out infinite,
      2s freefall ease-in-out infinite;
    
  }
  .star::before{
    content:'';
    position: absolute;
    height: 2px;
    width:0px;
    background:inherit;
    border-radius: 100%;
     right: 0;
    top:50%;
    transform: translateX(50%) rotateZ(-45deg);
    animation: 2s shine ease-in-out infinite;
    filter: blur(2px);

  }
  .star::after{
    content:'';
    position: absolute;
     right: 0;
    top:50%;
    height: 2px;
    width:0px;
    background:inherit;
    border-radius: 100%;
    transform:translateX(50%) rotateZ(45deg);
    animation: 2s shine ease-in-out infinite;
  }
  
  /* Colors */
  .star-hot {
      background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(221, 88, 12), rgba(0, 0, 255, 0));
  }

  .star-cold {
      background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  }

  .star-radioactive{
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(13, 207, 7), rgba(0, 0, 255, 0));

  }

  /* Sky Inclinations */

  .sky-incl-45 {
      transform: rotateZ(35deg);
  }

  .sky-incl-60 {
    transform: rotateZ(60deg);
  }

  .sky-incl-80 {
    transform: rotateZ(80deg);
  }


  @keyframes shine{
      70%   {
          width:0px;
      
          
      }
      80% {
        width:20px;
        filter: brightness(200%) drop-shadow(0 0 1px auto);
        opacity: 100%;
        
      }
      100% {
          width:0px;
          filter: brightness(0%) drop-shadow(2px 2px 6px auto);
          opacity: 0;
         
      }
  }
  
  @keyframes tail {
      0%   {
          width:0px;
          

      }
      30% {
        width:100px;
        
      }
      80% {
          width:0px;
      }
  }
  
  @keyframes freefall {
      0%   {
          transform: translateX(0px) ;
      }
      100% {
        transform: translateX(500px) ;
      }
  }


  
  
  
  
  