@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

body{
    margin:0;
    color: white;
}

span, p, body{
    font-family: 'Newsreader', serif;
}

a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    transition: 0.2s;
}
a:hover{
    color:rgb(219, 150, 0) !important
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    height: 100vh;
}

.header>h1 {
    position: absolute;
    top:0
}


/* Overlay Content */
.overlay-content{
    z-index: 92;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    font-size: small;
    text-shadow: 2px 2px 4px #000000;
}

.overlay-content a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    transition: 0.2s;
}

.overlay-content a:hover {
    color:rgb(219, 150, 0)
}


/* Body */
.body {
    color:black;
    min-height: 100vh;
    margin-top: 2rem;
    padding: 0rem;
}

.body section {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    color: black;
}

.body section h1 {
    color:black;
    font-size: 90px;
    margin:0;
}

.footer{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    padding: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.footer  h1 {
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
    font-family: Newspaper!important;
}

.footer p{
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
}



@media only screen and (max-width: 565px) {
    .header{
        margin-bottom: 5rem;
        min-height: 95vh;
    }
}