@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;1,200&display=swap');

body{
    margin:0;
    color: white;
    font-family: 'Newsreader', serif;
}

.container{
    display: flex;
    flex-direction: column;   
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 579px;
}

.header h1{

}


/* Navigation Container */
.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation h1 {
   display: none;
}

.sticky-nav {
    z-index: 99;
    position: sticky;
    top: 0;
    align-items: baseline;
    justify-content: space-evenly;
}

.sticky-nav h1 {
    display: block;
}

.black-nav {
    position: fixed;
    color: black;
    font-weight: bolder;
    width: 100%;
    background-color: rgb(0, 153, 224);

}

/* Navigation Items */
.navigation ul li {
    display: inline;
    margin: 0 5px 0 5px;
}

/* Body */
.body {
    color:black;
    margin-top: 100px;
    min-height: 100vh;
    
    align-items: flex-start;
}