.transition {
    transition: all 0.3;
}


/* Hover To Color Image Start */
.hover-to-color{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    
}
.hover-to-color img{
    opacity: 100%;
    transition: 0.3s;
    width: 100%;
    height: auto;
}

.hover-to-color img:nth-child(1){
    position: absolute;
    
}

.hover-to-color img:nth-child(1):hover{
    opacity: 0%;
}

/* Flex Utils */
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.column-1 {
    max-width: 25%;
}
.column-2 {
    max-width: 50%;
}
.column-3 {
    max-width: 75%;
}
.column-4 {
    max-width: 100%;
}

/* Flex Wrap */
.wrap{
    flex-wrap: wrap;
}

.no-wrap{
    flex-wrap: nowrap;
}


/* Column Align Content */
.align-top {
    justify-content: flex-start;    
}


/* Shape */
.circle {
    border-radius: 50%;
}


/* Colors */
/* Background Colors*/
.bg-blueviolet {
    background-color: blueviolet;
}

.bg-dark-blue {
    background-color: rgba(3, 36, 49, 1);
    
}

.bg-gold {
    background-color: rgb(219, 150, 0);;
}

.bg-bluish-gray {
    background-color: rgb(52, 60, 63);
}